* {
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}
#logo {
  height: 150px;
  width: 150px;
  margin: 10px;
  margin-left: 15px;
  border: 1px solid blue;
}
h1 {
  padding-left: 2rem;
  font-family: "dekko", "comic sans ms", cursive;
  font-size: 5rem;
}
main {
  display: grid;
  grid-template-columns: 19% 27% 27% 27%;
  grid-template-rows: 350px 500px;
  row-gap: 2%;
  min-width: 800px;
  overflow: auto;
}
#resultsSidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(243, 155, 123);
  overflow: auto;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  justify-items: center;
  align-items: center;
}
legend {
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  margin-top: 5px;
}
.clicksNotAllowed {
  display: flex;
  height: 3rem;
  width: 8rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  background-color: #bbb;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
}
h2 {
  font-family: "dekko", "comic sans ms", cursive;
  font-size: 2rem;
  font-weight: bold;
}
#results {
  padding: 10px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  padding-top: 7px;
}
li:first-letter {
  text-transform: capitalize;
}
#images {
  grid-area: 1 / 2 / 2 / 5;
  background-color: rgb(194, 243, 243);
  display: flex;
  margin: auto;
  width: 100%;
  height: 350px;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
  padding: 1rem;
}
#images img {
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 3px solid transparent;
}
#images img:hover, .clicksAllowed:hover {
  cursor: pointer;
  border: 3px solid #00f;
}
#chartSection {
  grid-area: 2 / 2 / 3 / 5;
  background-color: rgb(139, 201, 166);
  padding: 1rem;
  color: black;
}
#chartDiv {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100%;
}
#text p {
  font-family: helvetica, arial, sans-serif;
  padding-bottom: 15px;
}
.clicksAllowed {
  display: flex;
  height: 3rem;
  width: 8rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  background-color: orchid;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
}
footer {
  display: flex;
  height: 4rem;
  margin: auto;
  justify-content: center;
  align-content: center;
  background-color: rgb(241, 241, 152);
}
footer p {
  color: black;
  font-family:'Times New Roman', Times, serif;
  margin: auto;
}